/* 首页顶部链接条 */
.J_event {
    height: 80px;
    background-color: #0e2163;
}
.J_event a {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 80px;
    background: url(../images/header.jpg) no-repeat left top;
}
.J_event i {
    position: absolute;
    right: -20px;
    top: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font: normal 16px/20px 'icomoon';
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
}
.J_event i::before {
    content: "\ea0f";
}
/* 顶部广告结束 */
/* header 导航栏 */
.header {
    height: 30px;
    background-color: #e3e4e5;
}
/* 定位位置标识开始 */
.pos_item {
    position: relative;
    float: left;
    margin-left: 200px;
    font-size: 12px;
    color: #999999;
}
.pos_item:hover {
    background-color: #fff;
}
.pos_item:hover .location_con {
    display: block;
}
.show_con {
    padding-left: 7px;
    padding-right:7px;
    height: 30px;
    line-height: 30px;
}
.pos_item i {
    color: rgb(241,2,41);
}
/* 存放每个省市的盒子 */
.location_con {
    position: absolute;
    top: 30px;
    left: 0;
    width: 420px;
    height: 420px;
    background-color: aqua;
    display: none;
}
/* 导航栏详细链接样式开始 */
.nav {
    float: right;
    font-size: 12px;
    line-height: 30px;
}

.nav li {
    float: left;
}
.nav li a {
    font-size: 12px;
    color: #999999;
}
.nav .spacer {
    margin: 11px 5px 0;
    padding: 0;
    margin-left: 7px;
    margin-right: 7px;
    width: 1px;
    height: 10px;
    background-color: #cccccc;
}
/* 设置具有下拉菜单的导航盒子 circle_down */
.circle_down {
    position: relative;
    padding-right: 15px;
    padding-left: 5px;
    text-align: center;
}
.circle_down:hover {
    background-color: #ffffff;
}
/*设置声明字体的为绝对定位，让其脱标*/
.nav .icom_font {
    position: absolute;
    right: 4px;
    top: 1.5px;
    font-size: 10px;
    color: #999999;
}

/* 搜索框的容器的样式 */
.search_container {
    position: relative;
    height: 150px;
    border: 1px solid #000;
}
.logo {
    position: absolute;
    border: 1px solid #000;
    left: 0;
    top: -30px;
}
.logo a {
    display: inline-block;
    height: 170px;
    width: 190px;
    background: #ffffff url(../images/logo.png) no-repeat 0 0;
}